$color-primary: #008390;
$color-primary-light: #d6f5e8;
$color-text-dark: #03050F;
$color-text-blue: #141938;
$color-gray: #6b6b6b;
$color-danger: #E45858;
$color-purple: #4F4FFF;

$radius-lg: 24px;
$radius-md: 12px;
