/* Thin - 100 */
@font-face {
  font-family: "BR Sonoma";
  src: url("@assets/fonts/br-sonoma/BRSonoma-Thin-BF654c45255ffe0.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
}

/* ExtraLight - 200 */
@font-face {
  font-family: "BR Sonoma";
  src: url("@assets/fonts/br-sonoma/BRSonoma-ExtraLight-BF654c45265af8d.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}

/* Light - 300 */
@font-face {
  font-family: "BR Sonoma";
  src: url("@assets/fonts/br-sonoma/BRSonoma-Light-BF654c452608e0f.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Regular - 400 */
@font-face {
  font-family: "BR Sonoma";
  src: url("@assets/fonts/br-sonoma/BRSonoma-Regular-BF654c45266c042.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Medium - 500 */
@font-face {
  font-family: "BR Sonoma";
  src: url("@assets/fonts/br-sonoma/BRSonoma-Medium-BF654c45266edd1.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

/* SemiBold - 600 */
@font-face {
  font-family: "BR Sonoma";
  src: url("@assets/fonts/br-sonoma/BRSonoma-SemiBold-BF654c45268c340.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Bold - 700 */
@font-face {
  font-family: "BR Sonoma";
  src: url("@assets/fonts/br-sonoma/BRSonoma-Bold-BF654c4526823f5.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Black - 900 */
@font-face {
  font-family: "BR Sonoma";
  src: url("@assets/fonts/br-sonoma/BRSonoma-Black-BF654c4525506bf.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');