* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

.mb-1{
  margin-bottom: 8px !important;
}

.mb-15{
  margin-bottom: 12px !important;
}

.mb-2{
  margin-bottom: 16px !important;
}

.mb-3{
  margin-bottom: 24px !important;
}