@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/fonts";
@import "base/reset";
@import "base/typography";

@import "layout/grid";
//@import "layout/container";
@import "layout/rimac-layout";

@import "components/buttons";
@import "components/forms";
@import "components/steps";
@import "components/plan-card";

@import "pages/home";
@import "pages/plans";
@import "pages/summary";

@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css";
@import "swiper/css/effect-coverflow";